name: additive_food
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
    
  built_value: ^6.1.4
  built_collection: ^4.0.0
  flutter_redux: ^0.5.2
  cupertino_icons: ^0.1.2
  flutter_svg: ^0.10.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/